---
import { expressiveCodeConfig, siteConfig } from "@/config";

const toc = siteConfig.toc ?? {
	enable: false,
	depth: 2,
	useJapaneseBadge: false,
};
---

<div
	id="config-carrier"
	data-hue={siteConfig.themeColor.hue}
	data-hide-code-blocks-during-transition={
		expressiveCodeConfig.hideDuringThemeTransition ? "true" : "false"
	}
></div>

<script
	is:inline
	define:vars={{
		tocEnable: toc.enable,
		tocDepth: toc.depth,
		tocUseJapaneseBadge: toc.useJapaneseBadge,
	}}
>
	window.siteConfig = window.siteConfig || {};

	window.siteConfig.toc = {
		enable: tocEnable,
		depth: tocDepth,
		useJapaneseBadge: tocUseJapaneseBadge,
	};

	console.log("TOC Config:", window.siteConfig.toc);
</script>